// ===== Colors =====
@color-text-primary:    #000;
@color-text-secondary:  #5F5F5F;
@color-text-blue:       #3D8EDA;
@color-text-dark:       #000;
@color-border:          #DEDEDE;
@color-border-blue:     #3D8EDA;
@color-bg-white:        #FAFAFA;
@color-bg-grey:         #EBEBEB;

// ===== Typography =====

@font-family: "Roboto", sans-serif;
@font-family-secondary: "Montserrat", sans-serif;

@font-size-base:    14px;

// ===== Breakpoints =====
@bp-desktop:  1200px;
@bp-tablet:   992px;
@bp-mobile:   768px;
@bp-small:    480px;

// ===== Layout =====
@page-max-width: 836px;
